@import '/CSS/style.css';

.map-container {
  position: relative;
  overflow: hidden;

  width: 90vw;
  height: 90vh;
}

.polygon-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 1;
}

.sector{
  stroke: var(--stroke-color);
  stroke-width: 4px;

  cursor: pointer;
}
.sector:hover {
  stroke: cyan;
  stroke-width: 6px;
}

.text {
  color: #000;
  font-size: 1.3rem;
  font-weight: bold;

  user-select: none;
  pointer-events: none;
}

.gap {
  fill: transparent;
}