@import '/CSS/style.css';

.map-container {
  width: 100%;
  height: 100%;
}

.polygon-container {
  width: 100%;
  height: 100%;

  display: block;
}

.sector{
  cursor: pointer;
}
.sector:hover {
  stroke: rgb(0, 255, 255);
  stroke-width: 18px;
}

.text {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: .1rem;

  user-select: none;
  pointer-events: none;
}