@import '/CSS/style.css';

.node-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  background-color: #0f0f0f;

  min-width: 10rem;
  max-width: 11rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  clip-path: polygon(
    10px 0%,
    calc(100% - 10px) 0%,
    100% 10px,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    10px 100%,
    0% calc(100% - 10px),
    0% 10px
  );

  transition: 250ms ease-in-out;
}

.node-container:hover {
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

.node-close-button {
  position: absolute;
  top: 0;
  right: 0;

  background: rgba(114, 0, 0, 0.7);

  width: 22px;
  height: 22px;
  
  border: none;

  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    20px 100%,
    0 calc(100% - 20px)
  );

  cursor: pointer;
  transition: 250ms ease-in-out;
}

.node-close-button:hover {
  background: rgb(167, 0, 0);
}

.node-header {
  padding: 0.50rem 0.50rem;
  width: 100%;

  color: #fff;
  text-align: center;
  letter-spacing: 0.20rem;

  border-bottom: 2px solid #ff9900;

  user-select: none;
  cursor: pointer;
}

.node-header .title {
  font-size: 0.90rem;
}

.node-body {
  padding: 0.75rem 0.75rem;
  width: 100%;

  color: #fff;
  text-align: left;
  letter-spacing: 0.20rem;
}

.node-body h1 {
  font-size: 0.75rem;
}

.dificulty {
  color: #00D502FF;
}
.gamemode {
  color: #0725ac;
}
.waves {
  color: #6a0f9e;
}

.threats {
  color: #c41e1e;
}

.resource-container {
  user-select: none;
}

.resource-container .resource-title{
  color: #c06816;
  user-select: text;
  padding-bottom: 0.15rem;
}

.resource-container svg {
  width: 1.3rem;
  height: 1.3rem;
  flex-shrink: 0;
}

.note {
  color: #757575;
  font-size: 0.50rem;
  letter-spacing: normal;
  user-select: text;
}